<div id="container">
  <h3 mat-dialog-title>
    {{this.param ? 'Update':'Add'}}
    User
  </h3>
  <hr/>
  <div mat-dialog-content>
    <form [formGroup]="userFormGroup">
      <mat-form-field appearance="fill" style="width:100%;">
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="fill" style="width:100%;">
        <input formControlName="email" matInput placeholder="Email" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [disabled]="userFormGroup.invalid" (click)="onConfirm()">Save</button>
  </div>
</div>
